@{
    ViewBag.Title = "Events";
}

<section class="events">
    <div class="background-color-white container-fluid">
        <div class="nav-spacer"></div>
        <div class="container row center-block">
            <div class="col-lg-8 col-md-8 col-sm-8" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-text white-box-boarder">
                            <h1>Events</h1>
                        </div>
                        <div class="content-box">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.Image("Logos/esi_logo_leaf_large.png", "ESI Logo", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h2>Bi-Weekly ESI General Meetings</h2>
                                    <ul>
                                        <li>Autumn 2016</li>
                                        <li>Ohio Union - Round Meeting Room</li>
                                        <li>Want to get involved? Come join us!</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.DivButtonLink("Join Page", @Url.Action("Join", "Home"))
                                    @Html.DivButtonLink("ESI Group", "https://www.facebook.com/groups/419171418251335/")
                                    @Html.DivButtonLink("Full List", "https://docs.google.com/spreadsheets/d/1ATMxvFGqjfeZvLc79_ZHx-YaCSkjARYJ71Hue-zQxos/edit?pref=2&pli=1#gid=304620613")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Bi-Weekly OSU Smash & Grab</h2>
                                    <ul>
                                        <li>Autumn 2016</li>
                                        <li>CBEC 130 - 151 W Woodruff Ave</li>
                                        <li>Super Smash Bros for Wii U & Melee</li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.DivButtonLink("Event Page", "https://www.facebook.com/events/912188162152423/")
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h2>Shuffle VIII</h2>
                                    <ul>
                                        <li>March 12th & 13th - 10am to 10pm</li>
                                        <li>Ohio Union - Great Hall</li>
                                        <li>Smash</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    @Html.DivButtonLink("Tickets", "https://form.jotform.com/53334914298967")
                                    @Html.DivButtonLink("Event Page", "https://www.facebook.com/events/551280695030647/")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 marginz-bottom">
                <div class="title-text white-box-boarder">
                    <h1>Schedule</h1>
                </div>

                <div class="content-box">
                    <table class="schedule-text">
                        <tbody>
                            <tr>
                                <td>Shuffle VIII</td>
                                <td>March 13th-14th</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            -->
        </div>
    </div>
</section>

<section class="events">
    <div class="background-color-white container-fluid">
        <div class="container row center-block marginz-bottom">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <!--
                <div class="title-text white-box-boarder">
                    <h1>Past Events</h1>
                </div>
                -->
                <div class="content-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.Image("Logos/esi_logo_leaf_large.png", "LAN", new string[] { "width:100%" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2>Screw It - Just Up Smash</h2>
                            <ul>
                                <li>December 5</li>
                                <li>Ohio Union - Great Hall</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.DivButtonLink("Event Page", "https://www.facebook.com/events/1636797633274779/1643806332573909/")
                            @Html.DivButtonLink("Results", "https://www.challonge.com/tournaments?utf8=✓&q=screw+it")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.Image("Logos/league_of_legends_logo_transparent.png", "LOL", new string[] { "width:100%" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2>League of Legends</h2>
                            <ul>
                                <li>November 14</li>
                                <li>Ohio Union - Great Hall</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.Image("Events/2015-2016_Flyers/Autumn_1st_LAN.jpg", "LAN Image", new string[] { "height:155px", "width:100%" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2>General LAN</h2>
                            <ul>
                                <li>September 5 - 10am to 10pm</li>
                                <li>Ohio Union - Cartoon room</li>
                                <li>First LAN of the 2015-2016 school year with free food, potential giveaways, and fellow OSU gamers</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.DivButtonLink("Event Page", "https://www.facebook.com/events/1630239297255363/")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "width:100%" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2>Smash Tournament - Screw It | Just Shine</h2>
                            <ul>
                                <li>September 6 - 10am to 10pm</li>
                                <li>Ohio Union - Great Hall</li>
                                <li>64, Melee, PM, and Smash 4</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.DivButtonLink("Event Page", "https://www.facebook.com/events/1649134725345113/")
                            @Html.DivButtonLink("Results", "http://challonge.com/JSMS")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            @Html.Image("Logos/csgo_logo_transparent.png", "CSGO", new string[] { "width:100%" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2>Counter-Strike: Global Offensive</h2>
                            <ul>
                                <li>October 24</li>
                                <li>Ohio Union - Great Hall</li>
                            </ul>
                        </div>
                    </div>
                    <div class="marginz-horizontal text-center">
                        <p>Older events <a href="https://docs.google.com/document/d/1AlUO06uYugQtkGaXMrWRm-E-SQ8k9VaNDGmNF4mO4zQ/edit?usp=sharing">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>