@{
    ViewBag.Title = "Events";
}

<section class="events">
    <div class="background-color-dark-gray container-fluid">
        <div class="nav-spacer"></div>
        <div class="container row center-block">
            <div class="col-lg-8 col-md-8 col-sm-8" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-text white-box-boarder">
                            <h1>Up & Coming Events</h1>
                        </div>
                        <div class="dark-content-box">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/esilogo-leaf-small.png", "ESI Logo", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Bi-Weekly ESI General Meetings</h2>
                                    <ul>
                                        <li>September 5 - 10am to 10pm</li>
                                        <li>Ohio Union - Great Hall</li>
                                        <li>Want to get involved? Come join us!</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <a href='@Url.Action("Join","Home")'>
                                        <div class="div-button">
                                            Join Page
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Smash Bi-Weeklies</h2>
                                    <ul>
                                        <li>TBD</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Events/2015-2016_Flyers/Autumn_1st_LAN.jpg", "LAN Image", new string[] { "height:155px", "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>General LAN</h2>
                                    <ul>
                                        <li>September 5 - 10am to 10pm</li>
                                        <li>Ohio Union - Great Hall</li>
                                        <li>First LAN of the 2015-2016 school year with free food, potential giveaways, and fellow OSU gamers</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <a href="https://www.facebook.com/events/1630239297255363/">
                                        <div class="div-button">
                                            Event Page
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Smash Tournament - Screw It | Just Shine</h2>
                                    <ul>
                                        <li>September 6 - 10am to 10pm</li>
                                        <li>Ohio Union - Great Hall</li>
                                        <li>64, Melee, PM, and Smash 4</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <a href="https://www.facebook.com/events/1649134725345113/">
                                        <div class="div-button">
                                            Event Page
                                        </div>
                                    </a>
                                    <a href="http://form.jotformpro.com/form/52324956681967">
                                        <div class="div-button">
                                            Tickets
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/csgo_logo_transparent.png", "CSGO", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Counter-Strike: Global Offensive</h2>
                                    <ul>
                                        <li>Octuber 24</li>
                                        <li>Ohio Union - Great Hall</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/league_of_legends_logo_transparent.png", "LOL", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>League of Legends</h2>
                                    <ul>
                                        <li>November 14</li>
                                        <li>Ohio Union - Great Hall</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.Image("Logos/esilogo-leaf-small.png", "LAN", new string[] { "width:100%" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>End of Autumn Semester LAN</h2>
                                    <ul>
                                        <li>December 5</li>
                                        <li>Ohio Union - Great Hall</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 marginz-bottom">
                <div class="title-text white-box-boarder">
                    <h1>Schedule</h1>
                </div>

                <div class="dark-content-box">
                    <table class="schedule-text">
                        <tbody>
                            <tr>
                                <td>General LAN</td>
                                <td>September 5th</td>
                            </tr>
                            <tr>
                                <td>Smash</td>
                                <td>September 6th</td>
                            </tr>
                            <tr>
                                <td>CS: GO</td>
                                <td>Octuber 24th</td>
                            </tr>
                            <tr>
                                <td>LOL</td>
                                <td>November 14th</td>
                            </tr>
                            <tr>
                                <td>LAN</td>
                                <td>December 5th</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events">
    <div class="background-color-light-gray container-fluid">
        <div class="container row center-block marginz-bottom">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="title-text white-box-boarder">
                    <h1>Past Events</h1>
                </div>
                <div class="dark-content-box">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <div>
                            <p>NOTICE: The site has been recently updated the remained of past events will be added shortly. We apologize for the inconvenience however a text version of everything we have done is available <a href="https://docs.google.com/document/d/1AlUO06uYugQtkGaXMrWRm-E-SQ8k9VaNDGmNF4mO4zQ/edit?usp=sharing">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>