
@{
    ViewBag.Title = "Join";
}

<section class="background-color-white container-fluid">
    <div class="nav-spacer"></div>
    <div class="container row center-block">
        <div class="title-text white-box-boarder">
            <h1>ESI Involvement</h1>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/esi_logo_leaf_large.png", "ESI Logo", new string[] { "width:100%" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>ESI is first and foremost an organization of people who are passionate about gaming. We have members who love to play all sorts of casual and competitive games! If you love gaming – and you love the gaming community, this is a great place to meet new people and make new friends!</p>

                <p>ESI also focuses on promoting eSports in the collegiate and public scene. We hold competitive and casual tournaments for games like League of Legends, DOTA 2, Super Smash Brothers, and much more. If you're into competition, or you just like to play games with your friends, ESI is the place for you!</p>

                <p>The best way to find out what we are about is to come to an event or meeting. If you would like to reach out to us sooner feel free to send us an email!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/419171418251335/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
                <a href='@Url.Action("Events", "Home")'>
                    <div class="div-button">
                        Meetings
                    </div>
                </a>
                <a href="mailto:esportsinitiative@gmail.com">
                    <div class="div-button">
                        Email
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="background-color-white container-fluid">
    <div class="container row center-block">
        <div class="title-text white-box-boarder">
            <h1>OSU Gaming Groups</h1>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/league_of_legends_logo_transparent.png", "League of Legends", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>League of Legends</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/osulol/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/dota_2_logo_transparent.png", "DOTA 2", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Dota 2</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/osudota/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/csgo_logo_transparent.png", "CS:GO", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>CS:GO</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/osucsgo/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/smash_bros_logo.png", "Smash", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Smash</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/osusmash/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/hearthstone_logo_transparent.png", "Hearthstone", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Hearthstone</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/osuhearthstone/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Image("Logos/starcraft_2_logo_transparent.png", "SC2", new string[] { "height:100px"})
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>StarCraft 2</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="https://www.facebook.com/groups/OSUstarcraft/">
                    <div class="div-button">
                        Facebook
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

