
@{
    ViewBag.Title = "Join";
}

<section class="background-color-dark-gray container-fluid">
    <div class="nav-spacer"></div>
    <div class="container center-block">
        <div class="row join-pic marginz">
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/ShuffleV_2.jpg", "ShuffleV", new string[] { "height:250px", "width:100%" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/LANFeb21_1.jpg", "LAN Prizes", new string[] { "height:250px", "width:100%" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/FaceCheck_1.jpg", "FaceCheck 1", new string[] { "height:250px", "width:100%" })
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/ShuffleV_1.jpg", "ShuffleV", new string[] { "height:250px", "width:100%" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/ODC_ExtraLife.jpg", "ODC ExtraLife", new string[] { "height:250px", "width:100%" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.Image("Slideshows/Join/FaceCheck_2.jpg", "FaceCheck 1", new string[] { "height:250px", "width:100%" })
            </div>
        </div>
    </div>
</section>

<section class="background-color-light-gray container-fluid">
    <div class="container row center-block marginz-bottom">
        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class="title-text white-box-boarder" style="text-indent: 0px; text-align: center">
                <h1>Interested in joining ESI?</h1>
            </div>
            <div class="dark-content-box">
                <div class="marginz">
                    <p>ESI is first and foremost an organization of people who are passionate about gaming. We have members who love to play all sorts of casual and competitive games! If you love gaming – and you love the gaming community, this is a great place to meet new people and make new friends!</p>

                    <p>ESI also focuses on promoting eSports in the collegiate and public scene. We hold competitive and casual tournaments for games like League of Legends, DOTA 2, Super Smash Brothers, and much more. If you're into competition, or you just like to play games with your friends, ESI is the place for you!</p>

                    <p>The best way to find out what we are about is to come to an event or meeting. If you would like to reach out to us sooner feel free to send us an email!</p>
                </div>

                <a href='@Url.Action("Events", "Home")' class="row marginz-bottom">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                        <div class="div-button">
                            Meetings
                        </div>
                    </div>
                </a>
                <div style="text-align: center">
                    Email: <a href="mailto:esportsinitiative@gmail.com">esportsinitiative@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>

