<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSports Initiative - @ViewBag.Title </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/Content/Images/Logos/esi_logo.ico">
</head>
<body>
    <nav>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" id="logo" class="navbar-brand logo-image">
                        @Html.Image("Logos/esi_logo_full_name.png", "eSports Initiative Logo", new String[] { "height:43px", "width:417px" })
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_NavPartial")
                    </ul>
                    <!-- Html.Partial("_LoginPartial") to get authentication -->
                </div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid">
            <div class="container row center-block">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                    <ul class="nav nav-footer">
                        @Html.Partial("_NavPartial")
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 row">
                    <div>
                        <div class="footer-text">
                            <span>Follow Us</span>
                            <a href="https://www.facebook.com/esportsinitiative">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/ESI_OSU">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                        </div>
                        <div>
                            <span>2011-2015 &copy; The eSports Initiative</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
