<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSports Initiative - @ViewBag.Title </title>
    @Styles.Render("~/Content/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      @Scripts.Render("~/bundles/oldIEBrowsersSupport")
    <![endif]-->

    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/Content/Images/Logos/esi_logo.ico">
</head>
<body>
    <nav>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" id="logo" class="navbar-brand"> <!-- TODO: Switch to Html.ActionLink() -->
                        @Html.Image("Logos/esi_logo_full_name.png", "eSports Initiative Logo", new String[] { "height:43px", "width:417px" })
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_NavPartial")
                    </ul>
                    <!-- Html.Partial("_LoginPartial") to get authentication -->
                </div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid">
            <div class="container row center">
                <div class="col-lg-3 col-md-3 col-sm-3 col xs-disapear col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                    <ul class="nav nav-footer">
                        @Html.Partial("_NavPartial")
                    </ul>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">

                        <div class="row">
                            <h3 class="text-center">Follow Us</h3>

                            <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
                                <a href="https://www.facebook.com/esportsinitiative">
                                    @Html.Image("Logos/facebook_logo.png", "Facebook Link")
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <a href="https://twitter.com/ESI_OSU">
                                    @Html.Image("Logos/twitter_logo.png", "Twitter Link")
                                </a>
                            </div>
                        </div>

                        <br>
                        <p class="text-center">2015 &copy; The eSports Initiative</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
