<li>@Html.ActionLink("Events", "Events", "Home")</li>
<li>@Html.ActionLink("Games", "Games", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
<li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>
<li>@Html.ActionLink("Join", "Join", "Home")</li>