<li>@Html.ActionLink("Events", "Events", "Home")</li>
<li>@Html.ActionLink("Games", "Games", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
<li><a href="https://docs.google.com/forms/d/1ttOKWiR4gXf1FvutRQI6XuhIqQyf2I5i6fHwl5i7izE/viewform?usp=send_form">Feedback</a></li>
<li>@Html.ActionLink("Join", "Join", "Home")</li>