<li>@Html.ActionLink("Events", "Events", "Home")</li>
@*<li>@html.actionlink("games", "games", "home")</li>*@
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
<li>@Html.ActionLink("Join", "Join", "Home")</li>